@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.main-header{
    font-family: 'Montserrat', sans-serif;
  }

.create-form label{
    
    color: whitesmoke !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px !important;
  }

  .main{
    border: 1 solid white;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #212121;
    color: whitesmoke;
    flex-direction: column;
  }
  .pls{
    border: 1px solid white;
    background-color: aliceblue;
  }
